*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container
{
    background-color: black;
}
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    height: 95px;
    color: white;
}
header ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    background-color: red;
    list-style: none;
}
header ul li
{
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size:x-large;
    transition: .2s;
}
header ul li a:hover
{
    transition: .2s;
    background-color: royalblue;
}