.main-container
{
    background-color: #080808;
    height: 100vh;
}
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #101010;
    height: 95px;
    color: white;
}
header ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    background-color: #181818;
    border-radius: 0px 5px 5px 0px;
    list-style: none;
}
header ul li
{
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header ul li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 150px;
    height: 100%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: .3s;
}
header ul li a:hover
{
    transition: .3s;
    background-color: white;
    color: black;
}