*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container
{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: royalblue;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container p
{
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
}
.email
{
    background-color: black;
    padding: 5%;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s;
}
.email:hover
{
    box-shadow: white 5px 10px 20px;
    transition: .2s;
}