*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container
{
    background-color: #0A0A0A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #121212;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p
{
    color: white;
}